

.header-section{
    background: #000000;

}

.nav-links{
    font-size: 18px;


}
.nav-text{
  
  font-weight: 600;
}

.home-section{

    background: linear-gradient(#00000083,#0000008a), url(images/Website1.png);
    height: 20cm;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    background-blend-mode:darken ;
    overflow: hidden;


}
.text-style{
    padding-top: 7rem;
    color: white;
}
.ece-logo{
    /* padding-top: 80px; */
    text-align: start;
}

.azure-college-logo{
    text-align: end;
}
.tarang-maintxt{
    padding-top: 6rem;
}


.amaljyothi{
    padding-top:1rem ;
    

}

/* @media (min-width: 800px){
    .hero-img{
        height: 300px;
        width: 300px;
    }
} */


.home-btn{
    margin: 50px auto 0;
   
   
 }
 
 .home-btn a{
     width: 130px;
     font-weight: 600;
     text-decoration: none;
     display: inline-block;
     margin: 0 10px;
     padding: 12px 0;
     color: white;
     border: .9px solid #fff;
     border-radius: 9px;
     position: relative;
     
     transition: 0.5s;
    
  
  }
  /*
  .home-btn a span{
     width: 0;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: #fff;
     transition: 0.5s;
  }
 
  .home-btn a  :hover{
     color: black;
  }
  */
 
  .home-btn a:hover{
     background-color:  #630000; 
     color: #ffffff;
     /* #a70202  */
 
     
  }
.date-row{
    float: right;
}
.containerforlogos{
    padding-top: 6rem;
}
.date-row{
    text-align: end;
}

.about-section{
    text-align: center;
    background: black;
    overflow: hidden;
    
  }
  .featured-events{
    background: black;
    text-align: center;

  }
  .event-cards{
    background: #000000;
    border-radius:19px ;
    border: 3px solid #a70202;

  }
 
 .card-img-top{
    border-radius: 19px;
  
 }

 @media only screen and (max-width: 600px) and (min-width: 320px) {
    .cod{
       height: 45cm;

    }
    
    .Mini-militia{
        padding-top: 9rem;
        height: 45cm;
    }

    .stumbleguys{
        padding-top: 13rem;
        height: 45cm;
    }

    
 }

 @media only screen and (max-width: 400px) {
    .cod_img{
        width: 340px; 
        height: 500px; 
        border-radius: 19px;
    }

    .mini_militia_img{
        width: 340px; 
        height: 500px; 
        border-radius: 19px;
    }

    .stumbleguys_img{
        width: 340px; 
        height: 500px; 
        border-radius: 19px;
    }

   
    
 }
.contact-section{
    background: #131212;
    overflow: hidden;

}
.crdntr1{

    text-align: start;
}
.crdntr2{

    text-align: end;
}