

.header-section{
    background: #000000;

}

.nav-links{
    font-size: 18px;


}
.nav-text{
  
  font-weight: 600;
}

.home-section{

    background: linear-gradient(#00000083,#0000008a), url(images/Website1.png);
    height: 20cm;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   background-attachment: fixed;
    background-blend-mode:darken ;
    overflow: hidden;


}
.text-style{
    padding-top: 7rem;
    color: white;
}
.ece-logo{
    /* padding-top: 80px; */
    text-align: start;
}

.azure-college-logo{
    text-align: end;
}
.tarang-maintxt{
    padding-top: 6rem;
}


.amaljyothi{
    padding-top:1rem ;
    

}

/* @media (min-width: 800px){
    .hero-img{
        height: 300px;
        width: 300px;
    }
} */


.home-btn{
    margin: 80px auto 0;
    
   
   
 }
 
 .home-btn a{
     width: 200px;
     font-weight: 600;
     text-decoration: none;
     display: inline-block;
     margin: 0 10px;
     padding: 12px 0;
     color: rgb(0, 0, 0);
     border: .9px solid #fff;
     border-radius: 9px;
     position: relative;
     background-color: #ffffff;
     
     transition: 0.5s;
    
  
  }
  /*
  .home-btn a span{
     width: 0;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: #fff;
     transition: 0.5s;
  }
 
  .home-btn a  :hover{
     color: black;
  }
  */
 
  .home-btn a:hover{
     background-color:  #0b0b0b; 
     color: #ffffff;
     /* #a70202  */
 
     
  }
.date-row{
    float: right;
}
.containerforlogos{
    padding-top: 6rem;
}
.date-row{
    text-align: end;
}

.about-section{
    text-align: center;
    background: black;
    overflow: hidden;
    
  }
  .featured-events{
    background: black;
    text-align: center;

  }
  .event-cards{
    background: #000000;
    border-radius:19px ;
    border: 3px solid #a70202;

  }
 
 .card-img-top{
    border-radius: 19px;
  
 }

 @media only screen and (max-width: 600px) and (min-width: 320px) {
    .cod{
       height: 45cm;
       padding-right: 3rem;


    }
    
    .Mini-militia{
        padding-top: 9rem;
        height: 50cm;
    }

    .stumbleguys{
        padding-top: 13rem;
        height: 50cm;
    }

    
 }

 @media only screen and (max-width: 400px) and (min-width: 320px) {
    .cod_img{
        padding-right: 3rem;
    }

    .mini_militia_img{
        padding-right: 3rem;
    }

    .stumbleguys_img{
        padding-right: 3rem;
    }

   
    
 }
.contact-section{
    background: #131212;
    overflow: hidden;

}
.crdntr1{

    text-align: start;
}
.crdntr2{

    text-align: end;
}
     

     .esports-btn{
        padding-left: 2rem;
     }

     .carousel{
        height: 6%;
       
     }

     .stretch-card>.card {
        width: 100%;
        min-width: 100%
    }
   
    body {
        background-color: #f9f9fa
    }
   
    .flex {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }
   
    @media (max-width:991.98px) {
        .padding {
            padding: 1.5rem
        }
    }
   
    @media (max-width:767.98px) {
        .padding {
            padding: 1rem
        }
    }
   
    .padding {
        padding: 3rem
    }
   
   
   .owl-carousel .item{
     margin: 3px;
   }
   .owl-carousel .item img{
     display: block;
     width: 100%;
     height: auto;
   }
   
   .owl-carousel{
    display: block;
       margin-bottom:15px;
   }

    @media only screen and (min-width: 600px){
    .slidingcards{
       display: none;
       
    
    }
   }

.FeaturedEvents{

    overflow: hidden;
}